{% extends 'base.html' %}
{% load static %}
{% block title %}| Contact {% endblock %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-6 form m-md-5 p-4 bg-info text-dark">
                <h3>Contact Me</h3>
                <form action="" method="POST">
                    {% csrf_token %}
                    <p class="font-weight-bold">Feel free to reach me if you have any queries !!!</p>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputname">First Name</label>
                            <input type="text" class="form-control" name="inputname" placeholder="First Name" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputlastname">Last Name</label>
                            <input type="text" class="form-control" name="inputlastname" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputemail">Email</label>
                            <input type="email" class="form-control" name="inputemail" placeholder="Email">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputphone">Phone</label>
                            <input type="text" class="form-control" name="inputphone" placeholder="Phone Number"
                                   required pattern="^98\d{2}-{0,1}\d{3}-{0,1}\d{3}|\d{1,3}-{0,1}\d{6}">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-4">
                            <label for="inputsubject">Subject</label>
                            <input type="text" class="form-control" name="inputsubject" placeholder="Subject" required>
                        </div>
                    </div>
                    <div class="form-group col-12">
                        <label for="inputMessage">Your Message</label>
                        <textarea class="form-control" name="inputMessage"
                                  placeholder="Type your message here" rows="3" required></textarea>
                    </div>
                    <div class="form-row">
                        <button class="btn btn-success m-1" type="submit" value="Submit">Submit</button>
                        <button class="btn btn-success m-1" type="reset">Reset</button>
                    </div>

                </form>
                {% if messages %}
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                {% endif %}
            </div>
        <div class="col-4"></div>
        </div>
    </div>
{% endblock %}