{% extends 'base.html' %}
{% load static %}
{% block title %}| Home {% endblock %}
{% block content %}
    {#    <img src="{% static 'images/luffy.jpg' %}" alt="header-image" class="cover-image">#}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="home-title"><span>Hi, I'm Ajay</span></h1>
            <p class="lead text-muted">Web Developer and Designer.Also love Machine Learning and Deep
                Learning</p>
            <p>
                <a href="mailto:aaykarki333@gmail.com" class="btn btn-primary my-2">Email Me</a>
            </p>
            {#            <img height="300" width="300" class="bd-placeholder-img card-img-top" src="{% static 'images/luffy.jpg' %}" alt="">#}
        </div>
    </section>
    <div class="bio">
        <div class="row">
            <div class="col-6">
                <h3>About Me</h3>
                <hr>
                <p class="p-justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in laoreet mauris, sit amet
                    fringilla metus. Sed nibh turpis, pulvinar vel pretium ac, luctus non felis. Praesent luctus lectus
                    id dui tristique accumsan. Cras faucibus ultrices nunc et aliquet. Interdum et malesuada fames ac
                    ante ipsum primis in faucibus. Maecenas suscipit pretium sollicitudin. Morbi enim ipsum, lacinia ac
                    tempor a, tristique quis nibh.

                    Praesent in risus fringilla, interdum lorem in, elementum odio. Etiam nunc nisi, iaculis quis
                    feugiat tincidunt, cursus vitae ligula. Maecenas sit amet diam libero. Integer sit amet laoreet
                    elit. Nullam accumsan eu diam dapibus egestas. Cras id risus vitae ligula laoreet placerat. Mauris
                    ipsum sapien, finibus a fermentum a, congue eu magna. Aenean ornare odio vitae metus pharetra
                    varius. Nulla blandit feugiat semper. Suspendisse aliquet nisi cursus diam luctus cursus.

                    Nam hendrerit mi vel euismod sollicitudin. Sed mollis sapien quam, non tempor quam lacinia at.
                    Mauris porttitor diam sed arcu suscipit, sed pellentesque ex semper. Morbi hendrerit diam sit amet
                    ligula hendrerit, ac sollicitudin justo ultrices. Proin ornare venenatis tincidunt. Donec tincidunt
                    ornare lacus, eu lacinia felis venenatis ac. Nunc lorem augue, bibendum at mattis ut, tristique nec
                    nunc. Vestibulum tempus lorem tortor, id consectetur ante viverra non. Nulla eget dolor enim.
                    Aliquam non hendrerit nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </div>
            <div class="col-6">
                <img src="{% static 'images/me.png' %}" class="photo">
            </div>
        </div>
    </div>
    </div>
{% endblock %}