{% extends 'base.html' %}
{% load static %}
{% block title %}| Photos {% endblock %}
{% block content %}
    <div class="row">
        <div class="col-4">
            <img class="photo" src="{% static 'images/photo(1).jpg' %}">
        </div>
        <div class="col-4">
            <img class="photo" src="{% static 'images/photo(2).jpg' %}">

        </div>
        <div class="col-4">
            <img class="photo" src="{% static 'images/photo(3).jpg' %}">

        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <img class="photo" src="{% static 'images/photo(4).jpg' %}">
        </div>
        <div class="col-4">
            <img class="photo" src="{% static 'images/photo(5).jpg' %}">

        </div>
        <div class="col-4">
            <img class="photo" src="{% static 'images/photo(6).jpg' %}">

        </div>
    </div>
{% endblock %}