{% extends 'base.html' %}
{% load static %}
{% block title %}| Portfolio {% endblock %}
{% block content %}
    <div class="container-fluid">
        <h2>My Projects</h2>
        <hr>
        <div class="row portfolio-placement">
            <a href="https://github.com/AjayKarki/ImageCaptioning">
                <div class=" col img__wrap" style="background: #fc4c4c !important;">
                    <h3 class="heading">Image Captioning</h3>
                    <p class="img__description">Image Captioning is a web application that takes any photo and generates
                        caption for it.It also stores them with the photos so that it can be used in future.</p>
                </div>
            </a>
            <a href="https://github.com/AjayKarki/my-ledger-app">
                <div class=" col img__wrap" style="background: #fcdf4c !important;">
                    <h3 class="heading">My Ledger</h3>
                    <p class="img__description">My Ledger is a web application that takes care of daily sales and
                        purchases.
                        It’s simple digital view of conventional ledger. It has Inventory management that notifies the
                        owner
                        when the products are on low stock. It also provides the monthly status of sales and purchases
                        in
                        graphical form.</p>
                </div>
            </a>
            <a href="https://github.com/AjayKarki/RentalService">
                <div class=" col img__wrap" style="background: #5bfc4c !important;">
                    <h3 class="heading">Rental Service</h3>
                    <p class="img__description">Rental Service is a web application that helps the user to add rooms for
                        rental purpose and also view them and book for rent.</p>
                </div>
            </a>
            <a href="#linktovaccime">
                <div class=" col img__wrap" style="background: #4cfcf3 !important;">
                    <h3 class="heading">Vacci Me</h3>
                    <p class="img__description">VacciMe is an android application that takes the date of birth of a
                        newborn
                        and timely notifies the user of which vaccination must be given at that time. It also has
                        age-weight
                        ratio that calculates the required weight of child according to the height and age.</p>
                </div>
            </a>
            <a href="#">
                <div class=" col img__wrap" style="background: #524cfc !important;">
                    <h3 class="heading">Hostel Management</h3>
                    <p class="img__description">Hostel Management is a web app that allows a user to browse through
                        number
                        of hostels and book them. The Hostel Owners can add their hostel on request to Hostel Management
                        Team.</p>
                </div>
            </a>
            <a href="https://github.com/AjayKarki/portfolio">
                <div class=" col img__wrap" style="background: #ed4cfc !important;">
                    <h3 class="heading">Portfolio</h3>
                    <p class="img__description">My own portfolio site.</p>
                </div>
            </a>
        </div>
        <h2>Design Skills</h2>
        <hr>

        <div class="container-fluid row">
            <div class="col-3">
                <a href="{% static 'images/portfolio/myself.jpg' %}">
                    <img class="photo" src="{% static 'images/portfolio/myself.jpg' %}" alt="logo"></a>
            </div>
            <div class=" col-3">
                                <a href="{% static 'images/portfolio/Logo.jpg' %}">
                <img class="photo" src="{% static 'images/portfolio/Logo.jpg' %}" alt="logo">
                                </a>
            </div>
            <div class="col-3">
                                <a href="{% static 'images/portfolio/Business cards.png' %}">
                <img class="photo" src="{% static 'images/portfolio/Business cards.png' %}" alt="logo">
                                </a>
            </div>
            <div class="col-3">
                                <a href="{% static 'images/portfolio/Prospectus front.jpg' %}">
                <img class="photo" src="{% static 'images/portfolio/Prospectus front.jpg' %}" alt="logo">
                                </a>
            </div>
        </div>
    </div>
    <div class="container text-dark">
        <div>
            <strong><h1>Curriculum Vitae</h1></strong>
            <hr>
            <strong><h2>Ajay Karki</h2></strong>
        </div>
        <p>Ajay Karki <br>
            Gharipatan, Pokhara-7, 33700
        </p>

        <table class="table table-light">
            <thead class="thead-dark">
            <tr>
                <th>
                    Contact
                </th>
                <th></th>
            </tr>
            </thead>
            <tr>
                <td>Email</td>
                <td> ajaykarki333@gmail.com</td>
            </tr>
            <tr>
                <td>Phone</td>
                <td> +977 9846712371</td>
            </tr>
            <tr>
                <td>Website</td>
                <td><a href="http://www.ajaykarki.com.np/">ajaykarki.com.np</a></td>
            </tr>
            <tr>
                <td>Twitter</td>
                <td><a href="https://twitter.com/Leo_Boy99">@Leo_Boy99</a></td>
            </tr>
            <tr>
                <td>Facebook</td>
                <td><a href="https://www.facebook.com/profile.php?id=100009303393274">Ajay Karki</a></td>
            </tr>
            <tr>
                <td>Instagram</td>
                <td><a href="https://www.instagram.com/ajaykarki333/">ajaykarki333</a></td>
            </tr>
            <tr>
                <td>Github</td>
                <td><a href="https://github.com/AjayKarki">AjayKarki</a></td>
            </tr>
            <tr>
                <td>Linked In</td>
                <td><a href="https://www.linkedin.com/in/ajay-karki-824671112/">Ajay Karki</a></td>
            </tr>
        </table>

        <div>
            <p>
            <h3>Education</h3>
            <hr class="bg-dark">
            <strong> 2015-Present: </strong> <br>
            &emsp;Bachelor’s in computer engineering Paschimanchal Campus, Lamachaur<br>
            <strong> 2013-2015: </strong> <br>
            &emsp;+2 in Science Shree Amarsingh Model Higher Secondary School, Amarsingh <br>
            <strong> 2013: </strong> <br>
            &emsp;School Leaving Certificate New Millennium Academy, Birauta
            </p>
        </div>
        <div>
            <p>
            <h3>Computer Skills</h3>
            <hr class="bg-dark">
            &emsp;<strong> Languages </strong><br>
            &emsp;&emsp;Proficient in: Python Familiar with: C, C++, Java <br>
            &emsp;<strong> Web </strong><br>
            &emsp;&emsp;HTML5, CSS3, Bootstrap, Django <br>
            &emsp; <strong> Others </strong><br>
            &emsp;&emsp;Machine Learning, Deep Learning, Photoshop,Github,Gitlab <br>
            &emsp; <strong> Database </strong><br>
            &emsp;&emsp;PostgreSQL, SQLite, SQL <br>
            &emsp;<strong> Operating System </strong><br>
            &emsp;&emsp;Windows, Linux <br>
            </p>
        </div>

        <div>
            <p>
            <h3>Activities</h3>
            <hr class="bg-dark">
            &emsp;Participated in LOCUS (2016) as a team member, Developed an android app(VacciMe) <br>
            &emsp;Volunteered in Codecamp (2018) Organized by CoTS and i-cess <br>
            &emsp;Developed a web App RentalService in collage Project <br>
            &emsp;Developed a web App MyLedger in Minor Project <br>
            &emsp;Participated in HULT Prize 2018 organized in collage <br>
            </p>
        </div>

        <div>
            <p>
            <h3>Works</h3>
            <hr class="bg-dark">
            &emsp;Web Developer, Designer at Icarus Solutions Pvt. Ltd. <br>
            &emsp; &emsp; Designed Logo, Flyer, Prospectus for Icarus Solutions <br>
            </p>
        </div>

        <div>
            <p>
            <h3>Language Spoken</h3>
            <hr class="bg-dark">
            &emsp;Nepali, English, Hindi<br>
            </p>
        </div>
        <div>
            <p>
            <h3>Interests</h3>
            <hr class="bg-dark">
            &emsp;Technology and Programming<br>
            &emsp;Gaming<br>
            &emsp;Movies and Series<br>

            </p>
        </div>
    </div>

{% endblock %}