
/* relevant styles */
.img__wrap {
    position: relative;
    height: 320px;
    width: 260px;
    margin-right: 5px;
    margin-left: 5px;
}

.img__description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: grey;
    color: white;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    font-size: 17px;
    font-family: "Comic Sans MS", sans-serif;
    padding-top: 20%;
    padding-left: 5px;
    padding-right: 5px;


    /* transition effect. not necessary */
    transition: opacity 1s, visibility 1s;
    transform-style: flat;

}

.img__wrap:hover .img__description {
    visibility: visible;
    opacity: 1;
}

.heading {
    padding-top: 50%;
    text-align: center;
    color: black;
    transition: opacity 1s, visibility 1s;
}

a {
    text-decoration: none;
}

.portfolio-placement {
    text-align: center;
    margin: 20px 5% 20px 5%;
}

.image-thumbnail {
    height: 50%;
    width: 50%;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 5px;
    background: antiquewhite;
}

.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.cover-image {
    height: 720px;
    width: 100%;
}

.p-justify {
    text-align: justify;
}

.bio {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 18%;
    margin-left: 18%;
}

.photo {
    height: 480px;
    width: 100%;
    padding: 5px;
    object-fit: cover;
    transition: transform 1s;
}

.photo:hover {
    transform: scale(1.05);
}
body{
    background-color: antiquewhite;
}



/* title styles */
.home-title span{
    position: relative;
    overflow: hidden;
    display: block;
    line-height: 1.2;
}

.home-title span::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: black;
    animation: a-ltr-after 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(-101%);
}

.home-title span::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #e9ecef;
    animation: a-ltr-before 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(0);
}

.home-title span:nth-of-type(1)::before,
.home-title span:nth-of-type(1)::after{
    animation-delay: 1s;
}

.home-title span:nth-of-type(2)::before,
.home-title span:nth-of-type(2)::after{
    animation-delay: 1.5s;
}

@keyframes a-ltr-after{
    0% {transform: translateX(-100%)}
    100% {transform: translateX(101%)}
}

@keyframes a-ltr-before{
    0% {transform: translateX(0)}
    100% {transform: translateX(200%)}
}